.play-button-triangle {
    /*
    position: absolute;
    background: transparent;
    border-bottom: 73px solid transparent;
    border-left: 117px solid #1e1;
    border-top: 73px solid transparent;
    z-index: 50;
    */
}
.play-button-bg {
    /*
    position: absolute;
    border-radius: 50%;
    background: green;
    width: 162px;
    height: 162px;
    background-image: -webkit-radial-gradient(center center, circle contain, green 80%, #1a2 99%);
    opacity: .6;
    z-index: 0;
    */
}
.play-button-overlay {
    /*
    position: absolute;
    border-radius: 50%;
    width: 162px;
    height: 162px;
    background-image: -webkit-radial-gradient(center center, circle contain, white 10%, transparent 50%);
    opacity: 0.4;
    z-index: 100;
    */
}
